{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/user_detail.css' %}" />
{% endblock %}

{% block breadcrumb %}
  <div class="page-header">
    <h4 class="page-title">Employee</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="{% url 'home' %}"><i class="icon-home"></i></a>
      </li>
      <li class="separator">
        <i class="icon-arrow-right"></i>
      </li>
      <li class="nav-item">
        <a href="{% url 'users' %}">Employees</a>
      </li>
      <li class="separator">
        <i class="icon-arrow-right"></i>
      </li>
      <li class="nav-item">
        <span>Detail</span>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="row">
      <!-- Profile Image Section -->
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle mt-5"
            width="150px"
            height="150px"
            src="{% if object.image %}
              {{ object.image.url }}
            {% else %}
              {% static 'assets/img/profile.png' %}
            {% endif %}" />
          <span class="font-weight-bold">{{ object.first_name }}</span>
          <span class="text-black-50">{{ object.email }}</span>
        </div>
      </div>

      <!-- Profile Details Section -->
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h4 class="text-right">Profile Details</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels">First Name</label>
              <p class="form-control-static">{{ object.first_name|default:'Unspecified' }}</p>
            </div>
            <div class="col-md-6">
              <label class="labels">Last Name</label>
              <p class="form-control-static">{{ object.last_name|default:'Unspecified' }}</p>
            </div>
            <div class="col-md-6">
              <label class="labels">Username</label>
              <p class="form-control-static">{{ object.username|default:'Unspecified' }}</p>
            </div>
            <div class="col-md-6">
              <label class="labels">Phone Number</label>
              <p class="form-control-static">{{ object.phone|default:'Unspecified' }}</p>
            </div>
            <div class="col-md-6">
              <label class="labels">Email</label>
              <p class="form-control-static">{{ object.email|default:'Unspecified' }}</p>
            </div>
            <div class="col-md-6">
              <label class="labels">Date of Birth</label>
              <p class="form-control-static">{{ object.dob|default:'Unspecified' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Leave Balance</h4>
    </div>
    <div class="card-body">
      <div>Days Remaining: {{ object.leave_balance.leave_balance }}</div>
      <div>
        <a href="{% url 'leave_balance_update' object.leave_balance.id %}" class="btn btn-secondary">Update</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="d-flex align-items-center">
        <h4 class="card-title">Leave Requests</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="add-row" class="display table table-striped table-hover">
          <thead>
            <tr>
              <th>Type</th>
              <th>Starts</th>
              <th>Ends</th>
              <th>Days</th>
              <th>Status</th>
              <th style="width: 10%">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for leave_request in object.leave_requests.all %}
            <tr>
              <td>{{ leave_request.leave_type }}</td>
              <td>{{ leave_request.start_date }}</td>
              <td>{{ leave_request.end_date }}</td>
              <td>{{ leave_request.days_taken.days|default_if_none:0 }} Days</td>
              <td>
                  {% if leave_request.status == 'Pending' %}
                  <span class="badge badge-warning">{{ leave_request.status }}</span>
                  {% elif leave_request.status == 'Approved' %}
                  <span class="badge badge-success">{{ leave_request.status }}</span>
                  {% elif leave_request.status == 'Rejected' %}
                  <span class="badge badge-danger">{{ leave_request.status }}</span>
                  {% else %}
                  <span class="badge badge-secondary">{{ leave_request.status }}</span>
                  {% endif %}
              </td>
              <td>
                <div class="form-button-action">
                    <a href="{% url 'leave_detail' leave_request.id %}" class="btn btn-link btn-info btn-lg" data-bs-toggle="tooltip" title="View Request"><i class="fa fa-eye"></i></a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
